/GameGraphcisTest/bin/Debug/GameGraphcisTest.dll
/GameGraphcisTest/bin/Debug/GameGraphcisTest.pdb
/GameGraphcisTest/bin/Debug/GameGraphicsLib.dll
/GameGraphcisTest/bin/Debug/GameGraphicsLib.pdb
/GameGraphcisTest/bin/Debug/MonoGame.Framework.dll
/GameGraphcisTest/bin/Debug/MonoGame.Framework.xml
/GameGraphcisTest/bin/Debug/SharpDX.DXGI.dll
/GameGraphcisTest/bin/Debug/SharpDX.Direct2D1.dll
/GameGraphcisTest/bin/Debug/SharpDX.Direct3D11.dll
/GameGraphcisTest/bin/Debug/SharpDX.Direct3D9.dll
/GameGraphcisTest/bin/Debug/SharpDX.MediaFoundation.dll
/GameGraphcisTest/bin/Debug/SharpDX.RawInput.dll
/GameGraphcisTest/bin/Debug/SharpDX.XAudio2.dll
/GameGraphcisTest/bin/Debug/SharpDX.XInput.dll
/GameGraphcisTest/bin/Debug/SharpDX.dll
/GameGraphicsLib/bin/Debug/GameGraphicsLib.dll
/GameGraphicsLib/bin/Debug/GameGraphicsLib.pdb
/GameGraphicsLib/bin/Debug/MonoGame.Framework.dll
/GameGraphicsLib/bin/Debug/MonoGame.Framework.xml
/GameGraphicsLib/bin/Debug/SharpDX.DXGI.dll
/GameGraphicsLib/bin/Debug/SharpDX.Direct2D1.dll
/GameGraphicsLib/bin/Debug/SharpDX.Direct3D11.dll
/GameGraphicsLib/bin/Debug/SharpDX.Direct3D9.dll
/GameGraphicsLib/bin/Debug/SharpDX.MediaFoundation.dll
/GameGraphicsLib/bin/Debug/SharpDX.RawInput.dll
/GameGraphicsLib/bin/Debug/SharpDX.XAudio2.dll
/GameGraphicsLib/bin/Debug/SharpDX.XInput.dll
/GameGraphicsLib/bin/Debug/SharpDX.dll
