/GameGraphcisTest/bin/Debug/GameGraphcisTest.dll
/GameGraphcisTest/bin/Debug/GameGraphcisTest.pdb
/GameGraphcisTest/bin/Debug/GameGraphicsLib.dll
/GameGraphcisTest/bin/Debug/GameGraphicsLib.pdb
/GameGraphcisTest/bin/Debug/MonoGame.Framework.dll
/GameGraphcisTest/bin/Debug/MonoGame.Framework.xml
/GameGraphcisTest/bin/Debug/SharpDX.DXGI.dll
/GameGraphcisTest/bin/Debug/SharpDX.Direct2D1.dll
/GameGraphcisTest/bin/Debug/SharpDX.Direct3D11.dll
/GameGraphcisTest/bin/Debug/SharpDX.Direct3D9.dll
/GameGraphcisTest/bin/Debug/SharpDX.MediaFoundation.dll
/GameGraphcisTest/bin/Debug/SharpDX.RawInput.dll
/GameGraphcisTest/bin/Debug/SharpDX.XAudio2.dll
/GameGraphcisTest/bin/Debug/SharpDX.XInput.dll
/GameGraphcisTest/bin/Debug/SharpDX.dll
/GameGraphicsLib/bin/Debug/GameGraphicsLib.dll
/GameGraphicsLib/bin/Debug/GameGraphicsLib.pdb
/GameGraphicsLib/bin/Debug/MonoGame.Framework.dll
/GameGraphicsLib/bin/Debug/MonoGame.Framework.xml
/GameGraphicsLib/bin/Debug/SharpDX.DXGI.dll
/GameGraphicsLib/bin/Debug/SharpDX.Direct2D1.dll
/GameGraphicsLib/bin/Debug/SharpDX.Direct3D11.dll
/GameGraphicsLib/bin/Debug/SharpDX.Direct3D9.dll
/GameGraphicsLib/bin/Debug/SharpDX.MediaFoundation.dll
/GameGraphicsLib/bin/Debug/SharpDX.RawInput.dll
/GameGraphicsLib/bin/Debug/SharpDX.XAudio2.dll
/GameGraphicsLib/bin/Debug/SharpDX.XInput.dll
/GameGraphicsLib/bin/Debug/SharpDX.dll
/GameGraphicsLib/bin/Release/GameGraphicsLib.dll
/GameGraphicsLib/bin/Release/GameGraphicsLib.pdb
/GameGraphicsLib/bin/Release/MonoGame.Framework.dll
/GameGraphicsLib/bin/Release/MonoGame.Framework.xml
/GameGraphicsLib/bin/Release/SharpDX.DXGI.dll
/GameGraphicsLib/bin/Release/SharpDX.Direct2D1.dll
/GameGraphicsLib/bin/Release/SharpDX.Direct3D11.dll
/GameGraphicsLib/bin/Release/SharpDX.Direct3D9.dll
/GameGraphicsLib/bin/Release/SharpDX.MediaFoundation.dll
/GameGraphicsLib/bin/Release/SharpDX.RawInput.dll
/GameGraphicsLib/bin/Release/SharpDX.XAudio2.dll
/GameGraphicsLib/bin/Release/SharpDX.XInput.dll
/GameGraphicsLib/bin/Release/SharpDX.dll
/GameGraphicsLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/GameGraphicsLib/obj/Release/GameGraphicsLib.csproj.FileListAbsolute.txt
/GameGraphicsLib/obj/Release/GameGraphicsLib.csprojResolveAssemblyReference.cache
/GameGraphicsLib/obj/Release/GameGraphicsLib.dll
/GameGraphicsLib/obj/Release/GameGraphicsLib.pdb
